.contenedor-boton{
    margin: 4rem;
    display: flex;
    justify-content: center;
}
.boton-degradado{
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer; /*transforma el cursor en una -mano-
    al pasar por encima*/
    padding: 1rem .25rem ;
    background: linear-gradient(to right, black, grey);
    color: red;
    font-weight: bolder;
    box-shadow: 5px 5px 10px green;
}
.boton-degradado:hover{
    background: linear-gradient(to left, black, grey);
    box-shadow: none;
}

.contenedor-padre{
    display: flex;

}
.hijos-flex{
    width: 100px;
    height: 100px;
    background-color: violet;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 2px 2px 8px black ;
}