/* selector{
    propiedad1: valor;
    propiedad2: valor;
    propiedad3: valor;
} */

h1{
    color: blue;
    text-align: center;
}
body{
    color: brown;
}
/* se aplicara a todos lo <a> */
a{
    text-decoration: none; /* le saca el subrayado */
}
/* se aplicara a todos los <li> */
ul li{
    /* display: inline; /* posiciona los lementos de manera horizontal -uno al lado del otro-
    padding: 5px;
    margin: 5px; */
    list-style: none; /* le saca el punto de listado */
    color: white;
}

/* grid_clase07 */
.nav{
    display: flex;
    padding: 0 2rem;
    background-color: lightslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    justify-content: space-evenly;
}

/* si el FLEX esta en ROW
JUSTIFY-CONTENT alinea horizontalmente
ALIGN-ITEMS alinea verticalmente

si el FLEX esta en COLUMN
JUSTIFY-CONTENT alinea verticalmente
ALIGN-ITEMS alinea horizontalmente */

.nav ul{
    display: flex;
    gap: 1rem; /*va a separar los elementos dentro del nav*/
    width: 100%; /*aplicamos el width para que el UL ocupe el 
    100% del elemento que lo integra y se pueda alinear*/
}

footer{
    position: sticky;
    bottom: 0;
    background-color: brown;
    border: solid 2px pink;
    color: white;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol{
    list-style: decimal;
    font-size: 25px;
    margin-right: 10%;
}

/* modificar selectores por su ID */
#principal{
    background-color: blanchedalmond;
    list-style: square; 
    font-size: 50px; /* tamaño de letra */
}
/* el ID es un unico identificador */

/* modificar selectores por su CLASS */
.lista_desordenada{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto_verde{
    color: green;
    font-weight: bolder;
}
.parrafo_principal{
    font-size: 12px;
    text-align: justify;
    color: yellowgreen;
    background-color: grey;
    line-height: 24px; /* espacio entre renglones */
}
img{
    width: 40%;
    height: auto;
}
.caja{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    padding: 1rem;
    border: 3px solid black;
    margin: 2rem;
    border-radius: 15%;
    /* overflow: hidden; -- si hubiese un sobrante de la img 
    por sobre el tamaño de la caja lo esconderia -- */
}
.caja_img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
.caja_producto{
    width: 10rem;
    height: 10rem;
    background-color: yellow;
    padding: 1rem;
    border-bottom: 5px solid black;
    border-top: 5px solid red;
    margin: 2rem;
    border-radius: 10%;
}
.parrafo_footer{
    text-align: center;
}
table td{
    border: solid black 1px;
}
table th{
    border: solid black 3px;
}
td{
    padding: 5px;
    text-align: center;
}
th{
    padding: 5px;
    text-align: center;
}
table{
    margin: 2rem;
}
.email{
    width: 15rem;
}
.padre{
    display: flex; /*por defecto 
    si usamos DISPLAY:FLEX el orden es ROW*/
    width: 800px; /* se establece un ancho fijo del contenedor */
    margin-left: auto; /* margin autoadaptable en base al ancho para que quede centrado */
    margin-right: auto; /* margin autoadaptable en base al ancho para que quede centrado */
    padding: 40px 0;
    justify-content: space-around; /* alinea los hijos con respecto al contenedor */ 
    flex-wrap: wrap; /* FLEX-WRAP: WRAP; nos permite que las propiedades de los hijos
    sean inmutables independientemente de las dimensiones  o caracteristicas
    de los padres */
}
.hijos{
    width: 100px; /* cada hijo ocupara 100px de ancho, 
    teniendo en cuenta que el contenendor ocupa 800px*/
    height: 100px; /* cada hijo ocupara 100px de alto */
    background-color: beige;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    /* BOX-SIZING: BORDER-BOX; --- nos permite poner el borde del lado de adentro */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    border-radius: 5%;
}
.nietos{
    width: 30px;
    height: 30px;
    margin: 8px;
    background-color: blue;
    border-radius: 50%;
}


/* GRID --clase07-- */
.container_grid{
    display: grid;
    grid-template-areas: 
        "titulo_grid titulo_grid titulo_grid titulo_grid"
        "sidebar content content content"
        "sidebar extra-content extra-content sidebar_der"
        "img_grid img_grid img_grid sidebar_der"
        "content_02 content_02 content_02 content_02"
    ;
    gap: 1rem;
    padding: 1rem;
}
.titulo_grid{
    grid-area: titulo_grid;
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(101, 178, 101);
    color: aliceblue;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgb(37, 74, 37);
}
.sidebar_der{
    grid-area: sidebar_der;
    background-color: rgb(157, 212, 31);
    color: black;
    padding: 1rem;
    border-radius: .5rem;
}
.content{
    grid-area: content;
    background-color: rgb(185, 104, 104);
    color: black;
    font-weight: bolder;
    padding: 1rem;
    border-radius: .5rem;
}
.extra-content{
    grid-area: extra-content;
    background-color: rgb(228, 161, 228);
    color: white;
    font-weight: bolder;
    padding: 1rem;
    border-radius: .5rem;
}
.img_grid{
    grid-area: img_grid;
    padding: 1rem;
    border-radius: .5rem;
}
.img_grid img{
    width: 100%;
}
.content_02{
    grid-area: content_02;
    background-color: rgb(32, 9, 85);
    color: white;
    font-weight: bolder;
    padding: 1rem;
    border-radius: .5rem;
}
