body{
    margin: 0;
}
/* punto 5, 6 y 16 */
.lista_desordenada{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    margin-top: 0;
    padding: 1.5rem;
    width: 100%;
}
.lista_desordenada a{
    text-decoration: underline double;
    color: black;
}
footer{
    background-color: antiquewhite;
    padding: 0.5rem;
    text-align: center;
}
footer p{
    font-weight: bold;
}
/* punto 1 */
.container_01{
    display: flex;
    justify-content: center; /* alinea horizontalmente */
    background-color: #7878f1;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;
}
.container_01 div{
    border: solid black 3px;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
}
/* punto 2 */
.container_02{
    display: flex;
    align-items: center; /* alinea verticalmente */
    background-color: #78f1a2;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;
}
.container_02 div{
    border: solid black 3px;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
}
/* punto 3 */
.container_03{
    display: flex;
    justify-content: center; /* alinea horizontalmente */
    align-items: center; /* alinea verticalmente */
    background-color: #dff178;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;
}
.container_03 div{
    border: solid black 3px;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
}
/* punto 4 */
.container_04{
    display: flex;
    justify-content: space-evenly; /* alinea horizontalmente */
    align-items: center; /* alinea verticalmente */
    background-color: #f17878;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px;   
}
.container_04 div{
    border: solid black 3px;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
}
/* punto 11 y 13 */
.container_11{
    display: flex;
    align-items: flex-start; /* alinea verticalmente */
    background-color: #f1b778;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_11 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
.container_11_2{
    display: flex;
    flex-direction: column;
    align-items: center; /* alinea verticalmente */
    background-color: #78f1e1;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_11_2 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
.container_11_3{
    display: flex;
    align-items: flex-end; /* alinea verticalmente */
    background-color: #f178c5;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_11_3 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
/* punto 12 */
.container_12{
    display: flex;
    justify-content: start;
    background-color: #c578f1;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_12 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
.container_12_2{
    display: flex;
    justify-content: center;
    background-color: #bc2886;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_12_2 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
.container_12_3{
    display: flex;
    justify-content: end;
    background-color: #278b3e;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_12_3 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
/* punto 14 */
.container_14{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #277e8b;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_14 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
/* punto 15 --PREGUNTAR como seria-- */
.container_15{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #27388b;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_15 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
.item-align-self-center{
    align-self: flex-end;
}
/* punto 18 */
.container_18{
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: #af8d52;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_18 div{
    border: solid black 3px;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}
/* punto 19 */
.container_19{
    width: 790px;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: #af6252;
    margin: 1rem;
    padding: 1rem;
    border: solid black 2px;
    border-radius: 10px; 
}
.container_19 div{
    flex: 1 0 25% ;
    border: solid black 3px;
    padding: 20px;
    margin: 0.25rem;
    background-color: white;
    font-weight: bold;
}