@font-face{
    font-family: "nombre X regular";
    src: url(../../fonts/EduAUVICWANTHand-Regular.ttf);
}

@font-face{
    font-family: "nombre X semibold";
    src: url(../../fonts/EduAUVICWANTHand-SemiBold.ttf);
}
