*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;

}
li{
    list-style: none;
}
a:visited{
    color: inherit;
}
h1{
    text-align: center;
}
