/* Vuelos */
.container_vuelos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 15%;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
.vuelos-box{
    width: 100%;
    margin: 2rem auto;
    background-color: #eeecec;
    border-spacing: 0;

}
.vuelos-box thead{
    background-color: #cff4fc;

}
.vuelos-box tbody tr td{
    text-align: left;
    padding: 0.5rem ;
}
.titles tr th{
    text-align: left;
    line-height: 2rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem ;
}
.body-box tr:hover{
    background-color: #f9f7f7;
}