.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #01717e;
    color: white;
    width: 100%;
    padding: var(--large_size)0;
    bottom: 0;
}
.footer .text{
    font-size: var(--medium_size);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.container_footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem;
}
.footer .socialmedia {
    font-size: 2rem;
    margin: 0 0.5rem;
}
.footer .socialmedia a{
    padding: 0 0.75rem;
}
.container-contact-list{
    font-size: var(--medium_size);
    margin: 0 0.5rem;
}
.container-contact-list li {
    padding: 0.125rem 0;
    text-align: right;
    font-size: 1.25rem;
}
.container-contact-list li i {
    padding-left: 0.125rem;
}

