.div-01{
    display: flex;
    justify-content: center; /* Se usa justify-content: center; en el contenedor.
    Esto coloca el hijo en el centro horizontal del contenedor */
    background-color: beige;
    border: solid black 3px;
}
.div-01_hijo{
    background-color: burlywood;
    border: solid rgb(104, 81, 50) 3px;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.div-02{
    display: flex;
    flex-direction: column; 
    align-items: center; /* Se usa align-items: center; en el contenedor.
    Esto coloca el hijo en el centro vertical del contenedor */
    background-color: rgb(100, 210, 237);
    border: solid black 3px;
    margin-top: 1rem;
}
.div-02_hijo{
    background-color: rgb(43, 121, 247);
    border: solid rgb(14, 14, 106) 3px;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.div-03{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 24, 24);
    border: solid black 3px;
    margin-top: 1rem;
}
.div-03_hijo{
    background-color: rgb(213, 89, 89);
    border: solid rgb(112, 24, 24) 3px;
    padding: 0.25rem;
    margin: 0.5rem;
}

/* justify-content: center; alinea los elementos hijos horizontalmente al centro del contenedor
align-items: center; alinea los elementos hijos verticalmente al centro del contenedor
".hijo" es el elemento hijo que queremos centrar tanto horizontal como verticalmente dentro del contenedor */

.div-04{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    border: solid black 3px;
    margin-top: 1rem;
}
.div-04_hijos{
    background-color: rgb(127, 196, 127);
    border: solid rgb(23, 46, 23) 3px;
    padding: 0.25rem;
    margin: 0.5rem;
    text-align: center;
}

.lista-desordenada{
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style: none;
}
/* disposicion horizontal con FLEXBOX */
.lista_desordenada{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    background-color: cadetblue;
}
.lista_desordenada ul li{
    display: inline;
    padding: 1rem;  
}
/* Flex-grow  -falta ver en clase-*/
.container_flexgrow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(175, 235, 115);
    border-radius: 5rem;
    border: black 2px solid;
    width: 100%;
}
.container_flexgrow div{
    border: black 3px double;
    margin: 1rem;
    height: 40px;
}
.flexgrow-1{
    flex-grow: 1;
    /* margin: 1rem; */
    height: 40px;
}
.flexgrow-2{
    flex-grow: 2;
    /* margin: 1rem; */
    height: 40px;
}
/* Flex-shrink*/
/* REVISAR */
.container_flexshrink{
    background-color: deeppink;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5rem;
    border: black 2px solid;
    width: 100%;
    resize: horizontal;
    overflow: auto;
}
.container_flexshrink div{
    margin: 1rem;
    height: 40px;
    border: black 3px double;
    flex-basis: 200px;
}
.flexgrow-1{
    flex-shrink: 0;
}
.flexgrow-2{
    flex-shrink: 3;
}


